@font-face {
    font-family: Roboto;
    src: url(css/roboto.ttf);
}

html { width: 100%; height: 100%; }

body {
    width: 100%; height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Roboto,arial,helvetica,sans-serif;
    font-size: 1em;
    color: white;
    background: #ffffff;
    overflow: hidden;
}

h1 {
    
}

h2 {
    
}

h3 {
    
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}