<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.jukka.appview" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".main"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >

            <!-- @JUKKA: Muokataan niin, ettei näy järjestelmää -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>

		    <!-- @JUKKA: otetaan käyttöön NFC_DISCOVERED -intentti -->
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <!-- <category android:name="android.intent.category.DEFAULT" /> -->
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>
    </application>

    <!-- @JUKKA: pyydetään oikeuksia tekniikoille -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <!-- @JUKKA: muutetaan kotinappi tyhjäksi: mitään ei tapahdu -->
    <meta-data android:name="HOME_KEY_NOT_SPECIAL" android:value="true" />

</manifest>
